.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 70px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  z-index: 2;
}

.nav__list > .nav__btn:first-child {
  margin-top: 50px;
}

.nav__list > .nav__btn > a {
  display: block;
  color: #000000;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
}

.nav__list > .nav__btn > a.active {
  color: #000000;
}

.nav__list > .nav__btn > a:not(.active) {
  color: #aeaeae;
}

.nav__list > .nav__btn > a:not(.active):hover {
  color: #555555;
}
