<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('info.static', filename='coconut.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('info.static', filename='style.css') }}"
    />
    {% block addcss%} {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
